header {
    display: grid;
    background-color: aliceblue;
    justify-content: center;
    height: 100px;
    padding: 10px 0;
    background-image: url("https://i.postimg.cc/3RdHfKvw/taku.png");
    background-size: cover;
    background-position: center;
}
