.nav-bar {
    display: grid;
    justify-content: center;
    place-items: center;
    
    height: 75px;
    width: 100%;
    
    grid-template-columns: repeat(2, 0.2fr);
    grid-template-rows: repeat(2, 75px);
    
}

.icono-home {
    font-size: 7vh;
    color: whitesmoke;
}

.icono-about {
    font-size: 7vh;
    color: whitesmoke;
}
